<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .flex {
        display: flex;
        width: 100%;
    }

    .form {
        width: 30%;
    }

    .text {
        flex: 1;
        padding: 15px;
        height: 100%;
        border-left: 1px solid gray;
    }
</style>
<body>
<header th:insert="~{sections/header :: header}">

</header>
<h1>Task 3</h1>
<div class="flex">
    <div class="form">
        <form action="/post-task-3" method="post">
            <div>
                <label>
                    File Path
                    <p>
                        <input type="text" name="file_path" required/>
                    </p>
                </label>
            </div>

            <button>
                Start
            </button>
        </form>
    </div>
    <div class="text"
         th:if="${array != null}">
        <div>
            <span>Pairs - </span>
            <span th:text="${pairs}"></span>
        </div>
        <div>
            <span>None Pairs - </span>
            <span th:text="${nonePairs}"></span>
        </div>

        <p th:text="${array}"></p>
    </div>
</div>
</body>
</html>